{{# partial "titulo" }}
<title>
  Administrar Pois
</title>
{{/partial}}

{{#partial "header" }}
<link rel="stylesheet"  href="/css/home.css">
<form action="/administrador" method="post">
<input class = "logout" id = "logout" type="submit" value="Cerrar sesión">
</form>
{{/partial}}
<body class ="body-item" >
<link rel="stylesheet"  href="/css/item-admin.css">
{{#partial "contenido" }}
<div class="titulo">
<h1 align="center"><strong>Puntos de Interés</strong></h1>
</div><br>
<div class="row">
<form action="/administrador/pois" >
  <div class="col-lg-6">
    <div class="input-group">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Buscar por Nombre</button>
      </span>
      <input type="text" name="filtroNombre" class="form-control">
    </div>
  </div>
  <div class="col-lg-6">
    <div class="input-group">
      <input type="text" name="filtroTipo" class="form-control">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="submit">Buscar por Tipo de Poi</button>
      </span>
    </div>
  </div>
  </form>
  
</div>

<br><br><br>
 
 <div class="col-md-12">	
 			
 	<table class="table table-hover" >
 		<thead>
 			<td>Nombre</td>
 			<td>Latitud</td>
 			<td>Longitud</td>
 			<td>Tipo de Poi</td>
			<td>Domicilio</td>
			<td>Localidad</td>
			<td>Provincia</td>
	   </thead>
	<tbody>
 	{{#pois}}
 		<tr>
 			<td>{{nombre}}</td>
 			<td>{{latitud}}</td>
 			<td>{{longitud}}</td>
 			<td>{{Tipo_Poi}}</td>
 			<td>{{callePrincipal}}&nbsp;{{alturaPrincipal}}</td>
 			<td>{{localidad}}</td>
 			<td>{{provincia}}</td>
 		</tr>
 	{{/pois}}
 	</tbody>				
 	</table>
 </div>
{{/partial}}
</body>

{{> layout.hbs }}