{{# partial "titulo" }}
<title>
  Administrar Pois
</title>
{{/partial}}

{{#partial "header" }}
<link rel="stylesheet"  href="/css/home.css">
<form action="/administrador" method="post">
	<input class = "logout" id = "logout" type="submit" value="Cerrar sesión">
</form>
{{/partial}}

<body class ="body-item" >
<link rel="stylesheet"  href="/css/item-admin.css">
{{#partial "contenido" }}
<div class="titulo">
	<h1 align="center"><strong>Puntos de Interés</strong></h1>
</div><br>
<div class="form-group titulo">
	<div class= "input-group">
		<span class= "input-group-btn">
			<button class= "btn btn-danger dropdown-toggle" data-toggle= "dropdown">
			Filtrar Segun<span class="caret"></span>
			</button>
			<ul class="dropdown-menu">
				<li><a href="administrador/segunNombre">Nombre</a></li>
				<li><a href="administrador/segunTipo">Tipo de Poi</a></li>
			</ul>
		</span>
		<input type="text" class="form-control" placeholder="Filtrar Pois Segun" name="filtroPoi">
	</div>
</div>
 
<div class="row shorcut-row">
	<div class="col-md-12">	
 		<table class="table table-hover" >
 			<thead>
 				<td>Nombre</td>
 				<td>Latitud</td>
 				<td>Longitud</td>
 				<td>Tipo de Poi</td>
				<td>Domicilio</td>
				<td>Localidad</td>
				<td>Provincia</td>
	    	</thead>
			<tbody>
 			{{#pois}}
 			<tr>
 				<td>{{nombre}}</td>
 				<td>{{latitud}}</td>
 				<td>{{longitud}}</td>
 				<td>{{Tipo_Poi}}</td>
 				<td>{{callePrincipal}}&nbsp;{{alturaPrincipal}}</td>
 				<td>{{localidad}}</td>
 				<td>{{provincia}}</td>
 			</tr>
 			{{/pois}}
 			</tbody>				
 		</table>
 	</div>
 </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" ></script>
{{/partial}}

</body>

{{> layout.hbs }}