<table class="table table-hover" >
			<thead>
				<td>#</td>
				<td>Nombre</td>
				<td>Latitud</td>
				<td>Longitud</td>
				<td>Comuna</td>
			</thead>
			{{#each filtradas}}
			<tbody>	
			<tr>
				<td>{{idTerminal}}</td>
				<td>{{nombreTerminal}}</td>
				<td>{{coordenadaDispositivoMovil.latitud}}</td>
				<td>{{coordenadaDispositivoMovil.longitud}}</td>
				<td>{{comunaTerminal}}</td>
				<td>
 					<a href="/administrador/pois/modificar/{{id}}"><span class="glyphicon glyphicon-pencil"></span></a>
				</td>
				<td> 
					<a href="/administrador/pois/{{id}}"><span class="glyphicon glyphicon-trash"></span></a>
				</td>
			</tr>
			{{/each}}				
			</tbody>
</table>