{{#partial "contenido" }}
{{#with terminal}}
<div class="titulo">
	<h1 align="center"><strong>Modificar Datos de Terminal</strong></h1>
</div><br>


<form action="/administrador/terminales/modificar/guardar/{{idTerminal}}"  class="form-horizontal">
<div class="panel panel-default">
  	<div class="panel-heading"><span class="glyphicon glyphicon-globe"></span>{{nombreTerminal}} </div>
  
	<div class="panel-body">	
			<div class="form-group">		 
				<label for="nombre" class="control-label col-sm-2">Nombre:</label>
				<div class="col-sm-6"> 
					<input type="text" class="form-control" value={{nombreTerminal}} name="nombreTerminal">
				</div>
			
			</div>
			
			<div class="form-group">
			    <div class="form-group">
			 
							 
				<label for="calleDomicilio" class="control-label col-sm-2"> Comuna: </label>
				<div class="col-sm-2"> 
					<input type="text" class="form-control" value={{comunaTerminal}} name="comuna">
				</div>
				<label for="longitud" class="control-label col-sm-2"> Password: </label>
				<div class="col-sm-2"> 
					<input type="password" class="form-control" name="pass" placeholder="Nueva Password">
				</div>
				</div>
			</div>
			
			<div class="form-group">
			    <div class="form-group">
				 
				<label for="latitud" class="control-label col-sm-2"> Latitud: </label>
				<div class="col-sm-2"> 
					<input type="number" class="form-control" value={{coordenadaDispositivoMovil.latitud}} name="latitud">
				</div>
				<label for="longitud" class="control-label col-sm-2"> Longitud: </label>
				<div class="col-sm-2"> 
					<input type="number" class="form-control" value={{coordenadaDispositivoMovil.longitud}} name="longitud">
				</div>
				</div>
			</div>
	</div>

	 <div class="panel-footer text-right">
	 	<button class="btn btn-default" type="submit">Modificar</button>
	 	<a href="/administrador/terminales" button class="btn btn-default">Regresar</button>
	</div>

</div> 
</form>
{{/with}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" ></script>
{{/partial}}


{{> layout.hbs }}